/* style.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: #333;
}

header {
  background-color: #ffffff;
  padding: 0rem;
}

header h1 {
  color: #000000;
  text-align: center;
  margin: 0;
}

nav {
  display: flex;
  justify-content: center;
  background-color: #333;
}

nav ul {
  padding: 0;
  list-style-type: none;
}

nav li {
  display: inline;
}

nav a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 0.25rem 1rem;
}

nav a:hover {
  background-color: #555;
}

.hero {
  background-color: #f4f4f4;
  padding: 2rem;
  text-align: center;
}

.hero h2 {
  margin: 0;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2rem;
}

.recipe-card {
  background-color: #f4f4f4;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 30%;
  margin-bottom: 1rem;
}

.recipe-card img {
  width: 100%;
  height: auto;
}

.recipe-card h3 {
  margin: 0.5rem 0;
}

.button {
  background-color: #4CAF50;
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.button:hover {
  background-color: #45a049;
}

.about {
  padding: 2rem;
  text-align: center;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
  margin-top: 1rem;
}
.container {
  position: relative;
}

.right-link {
  position: absolute;
  top: 0;
  right: 0;
}