@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body {
  font-family: 'Raleway', Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
  position: relative;
}

header {
  background-color: #ffffff;
  padding: 1rem;
}

header h1 {
  color: #000000;
  text-align: center;
  margin: 0;
}

nav {
  display: flex;
  justify-content: center;
  background-color: #333;
  font-family: 'Raleway', Arial, sans-serif;
}

nav ul {
  padding: 0;
  list-style-type: none;
}

nav li {
  display: inline;
}

nav a {
  display: inline-block;
  color: #f1f1f1;
  text-decoration: none;
  padding: 1rem;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 1.2em;
  transition: color 0.5s;
}

nav a:hover {
  color: #f9f9f9;
  text-decoration: underline;
}

.container {
  margin: 20px;
}

h1 {
  color: #333;
  font-size: 28px;
  margin-bottom: 20px;
}

h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

.recent-recipes {
  margin-top: 20px;
}

.recipe-card {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.recipe-card h3 {
  margin: 0;
  font-size: 20px;
  color: #333;
}

.recipe-card p {
  margin: 10px 0;
  color: #555;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}

#add-recipe-form {
  margin-top: 30px;
}

#add-recipe-form label {
  display: block;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

#add-recipe-form input[type='text'],
#add-recipe-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #333;
  margin-bottom: 20px;
}

#add-recipe-form button[type='submit'] {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
}

footer {
  padding: 1rem;
  background-color: #333;
  color: #fff;
  text-align: center;
}

.edit-button {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
}

.view-button {
  background-color: #2ecc71;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
  order: 1; /* Switch order to 1 */
}

.delete-button {
  background-color: #e74c3c;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
  order: 2; /* Switch order to 2 */
}

#expand-page-button {
  display: block;
  width: 250px;
  height: 50px;
  line-height: 46px;
  text-decoration: none;
  text-align: center;
  border-radius: 50px;
  border: 3px solid seagreen;
  color: seagreen;
  font-size: 20px;
  font-family: 'Raleway', Arial, sans-serif;
  position: absolute;
  top: 10px;
  right: 10px;
  overflow: hidden;
  background: transparent;
  text-transform: uppercase;
  transition: all .35s;
}

#expand-page-button:before,
#expand-page-button:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  background: seagreen;
  z-index: -1;
  transition: all .35s;
}

#expand-page-button:before {
  opacity: .5;
}

#expand-page-button:after {
  transition-delay: .2s;
}

#expand-page-button:hover {
  color: #fff;
  background-color: seagreen;
}

#expand-page-button:hover:before,
#expand-page-button:hover:after {
  top: 0;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  width: 80%;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
